.recommended {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    z-index: 2;
}
.recommended .scrollableCont{
    display: flex;
    flex-direction: column;
    
    width: 350px;

    z-index: 2;
}
.recommended a{
    text-decoration: none;
    color: var(--teritary-font-color);
}

@media (max-width: 600px){
    .recommended{
        width: 80%;
    }
}