.hero{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 80vh;
    margin: 200px 0;
    /* background: white; */
}
.hero .heroDesc{
    font-family: 'Titan One', cursive;
    font-size: 20px;
    text-align: center;
    width: 60%;
}
.hero button{
    --font-color: black;
    --bg-color: white;
    width: 100%;
}
.hero a{
    width: 60%;
}

.hero .heroCheez{
    position: absolute;
    bottom: -20rem;
    right: -50%;
    width: 85%;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 3;
}
@media (min-width: 601px) and (max-width: 1024px){
    .hero .heroCheez{
        width: 100%;
        right: -40%;
    }
    .hero .heroDesc{
        width: 100%;
    }
}
@media (max-width: 600px){
    .hero{
        width: 100%;
        height: 70%;
    }
    .hero .heroDesc{
        width: 80%;
        font-size: 16px;
    }
    .hero button{
        font-size: 20px;
    }
    .hero .heroCheez{
        position: static;
        margin-top: -100px;
    }
}