.openHours {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 75%;
    margin-top: 50px;
}

.hours{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}
.hours .dayRow{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100px;
    margin: 10px 0;
    background: #FED501;
    border-radius: 10px;
}

.dayRow span{
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 35px;
    text-transform: uppercase;
    color: black;
}
.dayRow span:nth-child(1){
    width: 30%;
}
.dayRow span:nth-child(2){
    width: 70%;
}

@media (max-width: 600px){
    .dayRow span{
        font-size: 16px;
    }
}