.productElContainer{
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    width: 100%;
    background: var(--secondary-bg-color);
    color: var(--secondary-font-color);
    padding: 150px 0;

    margin-top: 500px;
    z-index: 1;
}
.productElContainer::before {
    content: '';
    position: absolute;
    top: -50px;
    /* left: -50%; */
    width: 120%;
    height: 100px;
    background: var(--secondary-bg-color);
    border-radius: 50%;
    z-index: -1;
}
