.productElement {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    background: var(--teritary-bg-color);
    color: var(--teritary-bg-color);
    border: 3px solid var(--secondary-accent-color);
    border-radius: 10px;

    width: 300px;
    height: 220px;

    padding: 10px;
    margin: 20px 110px 20px 40px;

    text-decoration: none;
    transition: .3s;
}
.productElement:hover{
    border-color: var(--primary-accent-color);
}
.productElement .productImage {
    position: absolute;
    bottom: 0;
    right: -30%;
    width: 225px;
}

.productElement .title{
    color: var(--teritary-font-color);
}

.productElement .price {
    font-family: 'Titan One', cursive;
    font-size: 55px;
    text-transform: uppercase;
    margin: 5px 0;
    color: var(--teritary-font-color);
}

.productElement .desc {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    width: 65%;
    color: var(--teritary-font-color);
    opacity: .8;
}

@media (max-width: 600px){
    .productElement{
        scale: .8;
        height: 200px;
        margin: 5px 70px 5px 0;
        margin-left: 0;
    }
    .productElement .price{
        font-size: 55px;
        margin-bottom: -10px;
    }
    .productElement .title{
        font-size: 30px;
    }
    .productElement .desc{
        font-size: 14px;
        width: 70%;
    }
    .productElement .productImage{
        width: 150px;
    }
}