.navbar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 65px;
    top: 30px;
    padding: 15px 30px;

    background: var(--teritary-bg-color);
    color: var(--teritary-font-color);
    border-radius: 25px;
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: 4;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.menu-mobile {
    display: none;
    justify-content: center;
    align-items: center;
    background: var(--primary-bg-color);
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#mobile-check {
    display: none;
}

.navbar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--teritary-font-color);
    text-decoration: none;
}

.navbar .logo img {
    width: 50px;
    margin-right: 10px;
}

.navbar ol li {
    display: inline-block;
    margin: 0 20px;
}

.navbar ol li a {
    color: var(--font-color);
    text-decoration: none;
    transition: .3s;
}

.navbar ol li:hover a {
    opacity: .8;
}

@media (min-width: 601px) and (max-width: 1024px) {
    .navbar p {
        font-size: 16px;
    }

    .navbar .logo img {
        height: 40px;
        margin-right: 5px;
    }

    .navbar ol {
        padding-left: 30px;
    }

    .navbar ol li {
        margin: 0 10px;
    }
}

@media (max-width: 600px) {
    .navbar {
        justify-content: space-between;
        border-radius: 25px;
        width: 90%;
    }

    .navbar p {
        font-size: 18px;
    }

    .navbar .logo img {
        height: 30px;
        width: 30px;
        margin-right: 5px;
    }

    .menu-mobile {
        display: flex;
    }

    .navbar ol {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 100%;
        height: 100%;
        top: -16px;
        left: -100%;

        padding: 0;

        background-color: var(--teritary-bg-color);

        transition: .3s;
        box-sizing: border-box;
        z-index: -1;
    }

    #mobile-check:checked ~ ol{
        left: 0;
    }
}