.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    padding: 70px 0;

    background: var(--primary-bg-color);
    color: var(--teritary-font-color);
}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;

    width: 80%;
}

.footerLogo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;

    width: 300px;

    font-family: 'Alfa Slab One', cursive;
    font-size: 35px;
    text-transform: capitalize;
}

.footerLogoText {
    font-size: 35px;
}

.footerLogoDesc {
    font-size: 16px;
}
.footerRow{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

    width: 65%;
}
.footerCol {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footerCol .title {
    font-family: 'Alfa Slab One', cursive;
    font-size: 16px;
    text-transform: capitalize;
}
.footerCol ul {
    list-style: none;
    margin: 0;
    padding: 0 0 0 10px;
}
.footerCol ul li {
    display: flex;
    align-items: center;

    margin: 10px 0;

    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}
.footerCol ul li a {
    color: var(--teritary-font-color);
    text-decoration: none;
}
.footerCol ul li i{
    font-size: 18px;
    margin-right: 5px;
}
@media (min-width: 601px) and (max-width: 1071px){
    .footer__container{
        justify-content: center;
    }
    .footerLogo{
        text-align: center;
        margin-bottom: 20px;
    }
    .footerRow{
        width: 80%;
    }
}
@media (max-width: 600px){
    .footer__container{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footerLogo{
        align-items: center;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
    }
    .footerRow{
        width: 100%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footerCol{
        align-items: center;
        justify-content: center;
        width: 80%;
    }
    .footerCol ul{
        padding: 0;
    }
    .footerCol ul li{
        justify-content: center;
    }
}