.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 75%;
}

.menu .products__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.menu button {
    --font-color: white;
    --bg-color: #F19A22;
    font-size: 20px;
    width: 30%;
}

.menu a {
    text-decoration: none;
    color: white;
}

.menu .link {
    position: absolute;
    top: -70px;
}

@media (max-width: 600px){
    .menu{
        width: 100%;
    }
    .menu button{
        width: 80%;
    }
}