@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Inter:wght@500&family=Titan+One&display=swap');

* {
  scroll-behavior: smooth;
}
html{
  /* overflow: hidden; */
  overflow-y: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  touch-action: pan-y;
  background: #FED601;
  -webkit-overflow-scrolling: auto;
  overscroll-behavior: contain;
}

.app {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  background: #FED601;

  box-sizing: border-box;
}

p {
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-family: 'Alfa Slab One', cursive;
  font-size: 87px;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  margin: 5px 0;
}

h2 {
  font-family: 'Titan One', cursive;
  font-size: 65px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h3 {
  font-family: 'Titan One', cursive;
  font-weight: normal;
  font-size: 55px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.title {
  font-family: 'Titan One', cursive;
  font-size: 25px;
  margin: 5px 0;
}

.color {
  color: #FED501;
}

.darkColor {
  color: #F19A22;
}

button {
  font-family: 'Alfa Slab One', cursive;
  font-size: 30px;
  text-transform: capitalize;
  margin: 20px 0;
  padding: 15px 30px;
  color: var(--font-color);
  background: var(--bg-color);
  border: 5px solid var(--font-color);
  box-shadow: 2px 2px 0px 2px var(--font-color);
  border-radius: 25px;
  transition: .3s;
}

button:hover {
  box-shadow: 4px 4px 0px 4px var(--font-color);
}

img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

.content__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  padding: 100px 0;

  background: black;
  color: white;

  z-index: 2;
  box-sizing: border-box;
}

.content__container::before {
  content: '';
  position: absolute;
  top: -50px;
  /* left: -10%; */
  width: 105%;
  height: 100px;
  background: black;
  border-radius: 50%;
  z-index: -1;
}

.bottomWave {
  width: 100%;
}

::-webkit-scrollbar {
  width: 0;
}

@media (min-width: 601px) and (max-width: 1024px) {
  h1 {
    font-size: 35px;
  }

  .bottomWave {
    margin-top: -10px;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 25px;
  }
  .content__container{
    padding: 0 0 50px 0;
  }
  .bottomWave {
    margin-top: -10px;
  }
}