.scrollable-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.scrollable-content {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
        
    overflow: auto;
}

.scrollable-container .scrollable-item:nth-child(1) {
    margin-left: -20px;
}

.arrowsContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* left: -10%; */

    width: 100%;
    padding: 0 50px;

    box-sizing: border-box;
    z-index: 3;
}

.arrowsContainer i {
    font-size: 55px;
    color: #F19A22;
    z-index: 4;
    transition: .3s;
}

.arrowsContainer .disabled {
    color: black;
    opacity: .8;
    -webkit-text-stroke: 2px #F19A22;
    text-stroke: 2px #F19A22;
    cursor: not-allowed;
}
