.scrollable-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
}

.scrollable-content {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    overflow: auto;
    scroll-snap-type: x mandatory;
    box-sizing: border-box;
}

.scrollable-container .scrollable-item {
    box-sizing: border-box;
    scroll-snap-align: center;
}

.scrollable-container .scrollable-item:nth-child(1) {
    margin-left: -20px;
}

.arrowsContainer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* left: -10%; */

    width: 100%;
    padding: 0 50px;

    box-sizing: border-box;
    z-index: 3;
}

.arrowsContainer i {
    font-size: 55px;
    color: var(--primary-accent-color);
    z-index: 4;
    transition: .3s;
}

.arrowsContainer .disabled {
    color: var(--primary-font-color);
    opacity: .8;
    -webkit-text-stroke: 2px var(--primary-accent-color);
    text-stroke: 2px var(--primary-accent-color);
    cursor: not-allowed;
}

@media (max-width: 600px) {
    .scrollable-item {
        /* margin-right: 110px; */
        /* scale: .8; */
        box-sizing: border-box;
    }

    .scrollable-item:nth-child(1) {
        margin-left: 0px;
    }

    .arrowsContainer {
        padding: 0 10px;
    }

    .arrowsContainer i {
        font-size: 45px;
    }

}